@include files.include

Edit `files.include` to change which files/folders are made available to the next programming iteration: adjust this as needed to change focus of your work. `@glob packages/core/**`: one per line inside the `@filegroup`, and you leverage the `@globexclude` declarations to get rid of unnecessary files. The `@#` pattern (as in `@#glob [...]`) is a comment and is used to comment-out/disable directives. Note, each `@glob` pattern must match something, otherwise there's an exception; however, `@globexclude` can be used profilactically, they don't need to match.
@file files.include

General `files.include` policy: we want to include the maximum of files that can be useful (now or later): that is preferable to being selective, because currently all important files can fit inside the LLM agent's context. However, we still want to exclude generated artifacts and files that will not be useful to an implementing agent. IMPORTANT: if you are shown a file that cannot be relevant to an implementor, add a `@globexclude` directive for that file so that it doesn't waste LLM context. NOTE: LLM context is getting full: start excluding least used/relevant files, like tests: reinclude when next programming iteration needs them.


@include dev-scripts.include

Edit `dev-scripts.include` to change which script outputs are made available to the next programming iteration: adjust this as is appropriate. Note that `pnpm` script calls (can be multiple, one per line) are wrapped in `@cli! bash -c "pnpm {script}"`.
@file dev-scripts.include

@comment
@endcomment

Fix errors, failed tests, if there are any. If not, work on the TODO.

Unless there are significant regressions that should be focused on instead, do the first large task in `TODO.md`. If there are no large tasks, do a group of smaller ones. Record in the TODO whatever information is relevant for the other steps. When step is done, delete it from the TODO. When all steps are done, the TODO should be empty.

ATTENTION: don't put triple-backtick-fenced code blocks in internal docs/TODOs: use some non-markdown fencing. If you notice such fencing, proactively replace it with non-markdown fencing.

@#If another repo needs to make changes to restore/improve/enable compatibility between the repos, put that information in `TODO-{repo-name}.md` (replacing {repo-name} with the name of the repo): it has to contain everything the other repo needs to know about what this repo knows: the implementor will only see this file and the other repo. If work required in `TODO-{repo-name}.md` is done or not necessary anymore, delete it: if no work is required, it should be deleted. This is effectively sending a message to the other repo: it might respond via your `TODO.md`. Directly editing files outside this repo is impossible.

Make sure the docs are up-to-date, focused, orthogonal.

If you need the human operator to visually inspect what is happening when the integration test is running (e.g. Chrome is being interacted with), set something up, interact with the command-line in some way, create a HUMAN-REQUEST.md. When response is submitted, and/or you don't need another examination, delete the file. Use this for whatever is best done by a human operator. If something needs to be executed in the cli, provide instructions for bash.

Use DEBUGGING.md to record information relevant when debugging hard problems over multiple iterations. It should facilitate exploring and keeping track of causes, solutions, expirements, what's ruled out, etc (create a pragmatic system). When debugging is done, it should be deleted.

Be proactive about getting rid of unnecessary code/text and refactoring code for better reuse, better maintenance.


You must split code and documentation files into small files, so that they don't exceed 250 lines. We need focused, highly orthogonal files.

The TODO task is blocked. Write a handoff document for an agent that will fork and fix the upstream specdd cli utility to allow for resolving uncreated files/folders/.sdd-files: the idea is that specdd cli will take an optional argument that will say whether the target is expected to be a file (`--file`), folder (`--folder`) or `.sdd` file (`--sdd-file`), which will allow it to unambiguously resolve it when it doesn't exist: these arguments won't normally be used for targets that are already created.

@llmformat

@#Let's discuss.




@#Let's create a new repo according to workflow-authoring-package-plan.md. Delete the plan after. Create the new repo as a subdir of this repo, it will then be immediately moved to the parent dir where all mugwort packages are (so pretend that it's already there). Use the configs/setups/project-files/etc from this repo as the foundation. In parallel, migrate this repo to use the new repo for authoring (also get rid of old code).

@#Similarly to how other references in `../*/reference/reference.md` describe what downstream users need to know, create a high-signal reference document (`reference/reference.md`) describing what users of this repo need to know. It will be provided together with the other references, so make them orthogonal. Delete `integration-plan.md`, because it would overlap. Edit `README.md` so it doesn't overlap. Delete the spec too: if there is information there that is not self-evident from the code and is not covered in the high-signal user-reference, move it to code comments (preferably) or README (second choice).